# config files
.ipynb_checkpoints/
.vscode

# outcomes
*.npy
*.jpg
process_multispectral_images/out/*
*/__pycache__/*
*out/
*outputs/


# imported code
imageprocessing/
Trash-detection-/
import-multispectral-images-tutorial/
litter_detection/
