# config files
.ipynb_checkpoints/
.vscode

# outcomes
*.npy
*.jpg
*.png
*.txt
process_multispectral_images/out/*
*/__pycache__/*
*out/
*outputs/
*.pyc
out/*
src/outputs/*
src/detection/runs/*
src/datasets/*
runs/*
src/multirun/
models/

# inputs
input/*
*.pt
datasets/*
conf/


# imported code
imageprocessing/
Trash-detection-/
import-multispectral-images-tutorial/
litter_detection/

#test code
test.ipynb