# config files
.ipynb_checkpoints/
.vscode
*.yaml

# outcomes
*.npy
*.jpg
process_multispectral_images/out/*
*/__pycache__/*
*out/
*outputs/
*.pyc


# imported code
imageprocessing/
Trash-detection-/
import-multispectral-images-tutorial/
litter_detection/

#test code
*test*